venv/
*.pyc
.idea/
*.egg-info/
*.ltk/
.lingotek-logs
.ltk-logs
info.py
dist/
**/config
downloaded/
uploads/
*/TypicalTranslationJob/*
tests/test_actions/*.txt
tests/test_actions/*.json
.cache/
tests/test_actions/.cache/*
tests/test_actions/dir1/*
